//
// _topbar.scss
//

.app-header {
    @apply sticky top-0 border-b;
    z-index: 35;
    background: $topbar-bg;
    height: $topbar-height;

    .nav-link {
        color: $topbar-item-color;
        @apply rounded-full bg-transparent transition-all ease-in-out;

        &:hover {
            color: $topbar-item-hover-color;
        }

        &:is(.open, .show, .active, :active, :focus) {
            color: $topbar-item-active-color;
        }
    }

    .logo-box {
        @apply lg:hidden md:flex;

        .logo-lg {
            @apply lg:block hidden;
        }

        .logo-sm {
            @apply lg:hidden block;
        }
    }
}

// Fullscreen exit icon
.fullscreen-enable {
    .bx-fullscreen::before {
        content: "\eacb";
    }
}

// Full Size Sidenav (Hide Sidenav | Open Sidenav with Backdrop) 
html[data-sidebar-view="mobile"] {
    .app-header {
        .logo-box {
            @apply flex;
        }
    }
}